/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Styles */


.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(48, 48, 48, 0.15);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 60px;
    height: 60px;
}

.t-colour {
    color: #FF42A5;
}

.shop-name {
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.menu-container ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-container ul li {
    padding: 0 10px;
}

.icons {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Hero Section Styles */


.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .hero-section-content {
    width: 50%;
} */

.hero-section-banner {
    width: 50%;
}

.hero-section-banner img {
    width: 100%;
}

.hero-heading {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.goat-t {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
}

.offers {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.offers p {
    margin-left: 10px;
    color: #534C64;
    font-size: 1em;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

/* Button styles -- Shareable */

.btn-primary {
    padding: 10px 40px;
    border-radius: 48px;
    background: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;

    text-transform: uppercase;
}

.btn-secondary {
    padding: 10px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

/* We are Gamer Section Styles */

.gamer-section-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    text-align: right;
}

.gamer-section-banner {
    width: 50%;
}

.gamer-section-banner img {
    width: 100%;
}

.gamer-section-content {
    width: 50%;
}

.two {
    text-align: right;
}

.we-gamer {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-des {
    margin-top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.our-purpose {
    /* text-align: right; */
    color: #534C64;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    margin-top: 20px;
}

.unleash {
    color: #534C64;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* Online Games Section  Styles*/

.online-game-section-cotainer {
    /* width: 100%; */
    text-align: center;
    /* margin-top: 30px; */
}

.game-header {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.game-header .h-finny-t {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.gamer-section-des {
    margin-top: 30px;
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;

}

.game-section-card-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 100px;
    justify-content: center;
    margin-top: 30px;
}



.cards .cards-des {
    text-align: left;
    padding: 10px 10px;
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
}

.img-container {
    border: 3px solid transparent;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
}


.top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
    border: 3px solid #F948B2;
    border-radius: 18px;
}

.img-container:hover .top-overlay {
    opacity: 1;
    cursor: pointer;

}

.icon {
    font-size: 20px;
    margin-bottom: 10px;
}

.text {
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #F948B2;
}

/* Play Instant Section Styles */

.play-instant-container {
    margin: 30px 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    padding: 0 100px;
}


.play-section-header {
    text-align: right;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-secton-h2 {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.play-section-des {
    margin-top: 20px;
    color: #534C64;
    text-align: right;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-instant-banner {
    width: 100%;
}

.main-picture {
    width: 100%;
}

/* Play Instant - 2 */

.play-instant-container-2 {
    margin: 30px 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    padding: 0 100px;
    flex-direction: row-reverse;
}



/* Games Title Section Syles */

.game-title-main-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 100px;
}

.game-title-container-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.game-title-container-2 {
    display: flex;
    justify-content: center;
}



.titles-wrapper button {
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 50px;
    margin-top: 10px;
    padding: 5px 10px;
    background: #fff;
    outline: 0;
}

.titles-wrapper h3 {
    padding: 10px;
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 500;
}

.titles-wrapper button:hover {
    cursor: pointer;
    border: 2px solid #F948B2;

}

.titles-wrapper button:hover h3 {
    color: #F948B2;
}

/* Footer Are Styles */

footer {
    background: #0B0223;
    padding: 100px 0;
}

.footer-heading {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.footer-menu span {
    padding: 0 30px;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.social-container {
    display: flex;
    justify-content: center;
}

.social i {
    color: #FFF;
    padding: 30px 20px;
    font-size: 2rem;
}

.policy {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.policy p {
    padding: 0 30px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

footer p {
    color: #FFF;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}




/* ----------------------------------------- */

/* Reponsive Section */

/* Small devices */

@media screen and (max-width: 576px) {

    /* Menu bar */
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-container ul {
        flex-direction: column;
    }

    .menu-container ul li {
        margin: 10px;
    }

    .icons {
        padding: 0 5px;
        margin: 10px;
    }

    /* Hero Section */
    .hero-section {
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: center;
        margin-top: 70px;
    }

    .hero-section-banner {
        width: 90%;
    }

    .hero-section-banner img {
        width: 100%;
    }

    /* We are gamer Section */
    .gamer-section-container {
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
    }

    .gamer-section-banner {
        width: 100%;
    }

    .gamer-section-banner img {
        width: 100%;
    }

    .gamer-section-content {
        width: 100%;
    }

    /* Online Game Section Card Container */
    .game-section-card-container {
        grid-template-columns: 1fr;
        padding: 10px 100px;
        text-align: center;
    }

    .cards .cards-des {
        text-align: center;
    }

    .img-container img {
        width: 100%;
    }

    /* Play Instant Section */

    .play-instant-container {
        flex-direction: column;
        padding: 0 10px;
    }

    .play-content {
        text-align: center;

    }

    .play-section-header {
        text-align: center;
    }

    .play-section-des {
        text-align: center;
    }

    .play-instant-banner {
        width: 100%;
    }

    .main-picture {
        width: 90%;
    }

    /* Play Instant - 2 */

    .play-instant-container-2 {
        flex-direction: column;
        padding: 0 10px;
    }

    .play-instant-container-2,
    .play-section-header,
    .play-secton-h2 {
        font-size: 2rem;
    }

    .play-instant-container-2,
    .play-section-des {
        font-size: 1rem;
    }

    /* Game Title Section */
    .game-title-container-1 {
        flex-direction: column;
    }

    .game-title-container-2 {
        flex-direction: column;
    }

    /* Footer */

    .footer-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-menu span {
        margin: 10px;
        font-size: 11px;
    }

    .social-container {
        padding: 5px 85px;
        text-align: center;
    }

    .policy {
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .policy p {
        margin: 10px;
        font-size: 11px;
    }

    footer p {
        padding: 20px 30px;
    }


}

/* --------------------------------- */

/* Medium -- Tablate Devices */

@media screen and (min-width: 576px) and (max-width: 996px) {

    /* Menu bar */
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-container ul {
        flex-direction: column;
    }

    .menu-container ul li {
        margin: 10px;
    }

    .icons {
        padding: 0 5px;
        margin: 10px;
    }

    /* Hero Section */
    .hero-section {
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: center;
        margin-top: 70px;
    }

    .hero-section-banner {
        width: 90%;
    }

    /* We are gamer Section */
    .gamer-section-container {
        flex-direction: column;
        text-align: center;
        padding: 0 30px;
    }

    /* We are gamer Section */
    .game-section-card-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 100px;
        text-align: center;
    }

    .cards .cards-des {
        text-align: center;
    }

    .img-container img {
        width: 100%;
    }

    /* Play Instant Section */

    .play-instant-container {
        flex-direction: column;
        padding: 0 10px;
    }

    .play-content {
        text-align: center;

    }

    .play-section-header {
        text-align: center;
    }

    .play-section-des {
        text-align: center;
    }

    .play-instant-container-2 {
        flex-direction: column;
        padding: 0 10px;
    }

    .play-instant-container-2,
    .play-section-header,
    .play-secton-h2 {
        font-size: 3rem;
    }

    .play-instant-container-2,
    .play-section-des {
        font-size: 1.5rem;
    }

    .play-instant-banner {
        /* width: 100%; */
    }

    .main-picture {
        width: 80%;
    }

    /* Game Title Section */


    .game-title-container-1 {
        flex-wrap: wrap;
    }

    .game-title-container-2 {
        flex-wrap: wrap;
    }

    /* Footer Section */
    .footer-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-menu span {
        margin: 10px;
        font-size: 1.2rem;
    }

    .social-container {
        padding: 5px 85px;
        text-align: center;
    }

    .policy {
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .policy p {
        margin: 10px;
        font-size: 1.2rem;
    }

    footer p {
        padding: 20px 30px;
        font-size: 1.2rem;
    }

}